version: '3'

services:
  prometheus:
    image: prom/prometheus:v2.43.0
    ports:
      - 9090:9090
    networks:
      - monitoring-net
    volumes:
      - /mnt/HD/HD_a2/Public/monitoring/prometheus.yml:/opt/prometheus/conf/prometheus.yml
      - /mnt/HD/HD_a2/Public/monitoring/prometheus:/opt/data

  grafana:
    image: grafana/grafana:9.4.3
    ports:
      - 3000:3000
    networks:
      - monitoring-net
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin

  loki:
    image: grafana/loki:2.8.0-arm
    ports:
      - 3100:3100
    networks:
      - monitoring-net
    volumes:
      - /mnt/HD/HD_a2/Public/monitoring/:/mnt/config
    command: --config.file=/mnt/config/loki-config.yaml

  promtail:
    image: grafana/promtail:2.8.0-arm
    ports:
      # debug dashboard http://localhost:9080/service-discovery
      - 9080:9080

    volumes:
      - /mnt/HD/HD_a2/Public/monitoring/promtail-config.yaml:/mnt/config/promtail-config.yaml
      - /mnt/HD/HD_a2/Public/monitoring/promtail/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: --config.file=/mnt/config/promtail-config.yaml
    depends_on:
      - loki
    networks:
      - monitoring-net

networks:
  monitoring-net:
